* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-family: poppins;
}
.nav {
  height: 60px;
  background-color: #131a22;
  flex-wrap: wrap;
  display: flex;
  padding-left: 15px;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo {
  height: 30px;
  width: 120px;
  color: wheat;
}
.nav-2 h6 {
  font-size: 16px;
}
#nav-2a {
  font-weight: 300;
  font-size: 16px;
}
#nav2b {
  line-height: 15px;
}
.search {
  position: relative;
  background-color: white;
  color: gray;
  width: 43%;
  height: 70%;
  border-radius: 5px;
  left: 1%;
  /* margin-left: 20px;  */
}
#search1 {
  color: gray;
  padding: 10px;
}
.lang {
  font-weight: 700;
  font-size: 16px;
}
#nav5a {
  font-weight: 300;
  font-size: 16px;
}
#nav5b {
  font-weight: 700;
  font-size: 16px;
}
#nav6a {
  font-weight: 300;
  font-size: 16px;
}
#nav6b {
  font-weight: 700;
  font-size: 16px;
}
.nav7 {
  font-weight: 700;
  font-size: 16px;
}
.cont2 {
  width: 100%;
  background-color: #232f3e;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cont2-inside {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  background-color: #232f3e;
  height: 5vh;
  font-weight: 500;
  align-items: center;
}
#menu-line {
  margin-top: 8px;
}
.cont2a {
  display: flex;
  align-items: center;
}
/* hero section */
.hero-section {
  position: relative;
  background-image: url(HERO.jpg);
  height: 310px;

  background-size: cover;
  display: flex;
}
h2 {
  color: black;
}
.mid {
  /* position: absolute; */
  /* border: 5px solid black; */
  height: 500px;
  width: 31%;
  background-color: white;
  top: 20px;
  color: black;
  padding: 15px;
  margin-bottom: 30px;
  /* background-image: url(cam1.jpg); */
}
.shop {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(194, 193, 193);
  /* margin-bottom: 20px; */
}
.shop2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-content: space-evenly;
  background-color: rgb(194, 193, 193);
  margin-bottom: 20px;
}
.i1 {
  color: gray;
}
.box1 {
  display: flex;
  justify-content: space-evenly;
  height: 50%;
}
.box2 {
  display: flex;
  justify-content: space-evenly;
  height: 45%;
  /* background-color: red; */
}
.mid p {
  color: blue;
}
.images {
  background-size: cover;
  height: 400px;
}
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #354251;
}
.foot2 {
  display: flex;
  justify-content: space-around;
  background-color: #232f3e;
  padding-top: 45px;
  height: 500px;
}
a {
  text-decoration: none;
}
.fline {
  line-height: 30px;
}
.fweight {
  font-weight: 650;
}
.foot3 > img {
  height: 30px;
  width: 120px;
  color: wheat;
}
.foot3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  background-color: #232f3e;
  height: 100px;
}
.foot4 {
  height: 100px;
  background-color: #131a22;
  font-size: 13px;
  display: flex;

  justify-content: center;
  align-items: center;
}
.foot4 a {
  margin-left: 15px;
}
.foot4 p {
  margin-left: 58px;
}
